*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46, 42, 42);
}

.container{
    display: flex;
    min-height: 70vh;
}

h1{
    margin: auto;
}

.containerbtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 40px;
}

.back{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(219, 190, 165);
    min-height: 1vh;
    border-radius: 5px;
}

.btn{
    margin: auto;
    width: 30px;
    height: 60px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px #000;
    cursor: pointer;
    background-color: rgb(219, 209, 200);;
}

.coin{
    width: 600px;
    height: 600px;
    background-color: rgb(172, 172, 172);
    margin: auto;
    border-radius: 50%;
    box-shadow: 25px 0px 0px 1px #7b7b7b;
    animation: coin 1s ease 0s 1 normal forwards;
    min-height: 5vh;
}

.face{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.good{
    width: 500px;
    height: 500px;
}

.bad{
    width: 500px;
    height: 500px;
    display: none;
}

@keyframes coin {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: scale(7);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: scale(1.5);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: scale(1.24);
    }
  
    89% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: scale(1.04);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }

  .go{
    font-size: 2em;
    color:whitesmoke;
    position: absolute;
    left: 1500px;
    text-decoration: none;
    animation: go 2s ease 0s infinite normal forwards;
  }

  @keyframes go {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }