@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #14022a;
  }

/*-------------

Button

-------------*/
.containerpush {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-perspective: 427px;
            perspective: 427px;
  }
  
  .containerpush .wrapperpush {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #29da19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotateX(50deg) rotateY(0deg);
            transform: rotateX(50deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0px 12px 0px 0px #1d9911, 5px 12px 34px 18px #000;
            box-shadow: 0px 12px 0px 0px #1d9911, 5px 12px 34px 18px #000;
  }
  
  .textpush {
    position: relative;
    top: 35%;
  }
  
   .push {
    background: none;
    border: none;
    position: relative;
    bottom: 30px;
    left: 5px;
    font-size: 7em;
    font-family: 'Pattaya', sans-serif;
    color: #131313;
    cursor: help;
  }

  .containerpush .wrapperpush .push:hover {
    -webkit-animation: pushbutton 800ms ease 0s infinite normal forwards;
    animation: pushbutton 800ms ease 0s infinite normal forwards; 
  }

  @-webkit-keyframes pushbutton {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  
  @keyframes pushbutton {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  .titre{
    display: flex;
    justify-content: center;
    font-family: 'Reggae One', cursive;
    color:#1d9911;
    letter-spacing: 5px;
    font-size: 4em;
    cursor: help;
    animation: push 1s ease 0s 1 reverse forwards;
  }
  
  @keyframes push {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }
  }

  /*************************

  ??????????????????????????

  *************************/

  .containerback{
    display: flex;
    justify-content: space-between;
    
  }

  .a,
  .b,
  .c,
  .d,
  .e,
  .f,
  .g,
  .h,
  .i,
  .j,
  .k,
  .l,
  .m,
  .n,
  .o,
  .p,
  .q,
  .r,
  .s,
  .t,
  .u,
  .v,
  .w,
  .x,
  .y,
  .z{
    color:#1d9911;
    font-family: 'Pattaya', sans-serif;
    font-weight: lighter;
    cursor: help;
    animation: enigme 3s ease 0s 1 normal forwards;
    font-size: 2.5em;
  }

  @keyframes enigme {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  } 

  .a{
    position: absolute;
    top: 50px;
    left: 450px;
  }

  .b{
    position: absolute;
    top: 110px;
    left: 140px;
  }

  .c{
    position: absolute;
    top: 150px;
    left: 320px;
  }

  .d{
    position: absolute;
    top: 200px;
    left: 40px;
  }

  .e{
    position: absolute;
    top: 250px;
    left: 220px;
  }

  .f{
    position: absolute;
    top: 300px;
    left: 500px;
  }

  .g{
    position: absolute;
    top: 353px;
    left: 350px;
  }

  .h{
    position: absolute;
    top: 412px;
    left: 120px;
  }

  .i{
    position: absolute;
    top: 450px;
    left: 520px;
  }

  .j{
    position: absolute;
    top: 500px;
    left: 1320px;
  }

  .k{
    position: absolute;
    top: 550px;
    left: 380px;
  }

  .l{
    position: absolute;
    top: 600px;
    left: 80px;
  }

  .m{
    position: absolute;
    top: 690px;
    left: 315px;
  }

  .n{
    position: absolute;
    top: 650px;
    left: 700px;
  }

  .o{
    position: absolute;
    top: 550px;
    left: 770px;
  }

  .p{
    position: absolute;
    top: 700px;
    left: 800px;
  }

  .q{
    position: absolute;
    top: 70px;
    left: 850px;
  }

  .r{
    position: absolute;
    top: 190px;
    left: 970px;
  }

  .s{
    position: absolute;
    top: 420px;
    left: 960px;
  }

  .t{
    position: absolute;
    top: 618px;
    left: 1000px;
  }

  .u{
    position: absolute;
    top: 360px;
    left: 1150px;
  }

  .v{
    position: absolute;
    top: 60px;
    left: 1200px;
  }

  .w{
    position: absolute;
    top: 75px;
    left: 1450px;
  }

  .x{
    position: absolute;
    top: 262px;
    left: 1300px;
  }

  .y{
    position: absolute;
    top: 653px;
    left: 1250px;
  }

  .z{
    position: absolute;
    top: 610px;
    left: 1500px;
  }