@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #27084d;
  }

/*-------------

Button

-------------*/
.containerpush {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-perspective: 427px;
            perspective: 427px;
  }
  
  .containerpush .wrapperpush {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #29da19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotateX(50deg) rotateY(0deg);
            transform: rotateX(50deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0px 12px 0px 0px #1d9911, 5px 12px 34px 18px #000;
            box-shadow: 0px 12px 0px 0px #1d9911, 5px 12px 34px 18px #000;
  }
  
  .containerpush .wrapperpush .textpush {
    position: relative;
    top: 35%;
  }
  
  .containerpush .wrapperpush .push {
    background: none;
    border: none;
    position: relative;
    bottom: 30px;
    left: 5px;
    font-size: 7em;
    font-family: 'Pattaya', sans-serif;
    color: #131313;
    cursor: help;
  }

  .containerpush .wrapperpush .push:hover {
    -webkit-animation: pushbutton 800ms ease 0s infinite normal forwards;
    animation: pushbutton 800ms ease 0s infinite normal forwards; 
  }

  @-webkit-keyframes pushbutton {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  
  @keyframes pushbutton {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  .titre{
    display: flex;
    justify-content: center;
    font-family: 'Reggae One', cursive;
    color:#1d9911;
    letter-spacing: 5px;
    font-size: 4em;
    cursor: help;
    animation: push 1s ease 0s 1 reverse forwards;
  }
  
  @keyframes push {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }
  }

  /*************************

  ??????????????????????????

  *************************/

  .containerback{
    display: flex;
    justify-content: space-between;
    
  }

  .a,
  .b,
  .c,
  .d,
  .e,
  .f,
  .g,
  .h{
    font-size: 10em;
    color:#1d9911;
    font-family: 'Pattaya', sans-serif;
    font-weight: lighter;
    cursor: help;
    animation: enigme 1s ease 0s 1 normal forwards;
  }

  @keyframes enigme {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .a{
    position: absolute;
    top: 400px;
    left: 143px;
  
  }

  .b{
    position: absolute;
    top: 100px;
    left: 370px;
    
  }

  .c{
    position: absolute;
    top: 365px;
    left: 550px;
    
  }

  .d{
    position: absolute;
    top: 200px;
    left: 80px;
   
  }

  .e{
    position: absolute;
    top: 300px;
    left: 1080px;

  }

  .f{
    position: absolute;
    top: 100px;
    left: 1000px;
   
  }

  .g{
    position: absolute;
    top: 380px;
    left: 1480px;
 
  }

  .h{
    position: absolute;
    top: 30px;
    left: 1400px;
  
  }