@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root{
    cursor: none;
    --cursorX:50vw;
    --cursorY:50vh;
}

:root:before{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
        circle 10vmax at var(--cursorX) var(--cursorY),
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,.5) 80%,
        rgba(0,0,0,.95) 100%
      )
    }

body{
    background-color: rgb(14, 13, 13);
}

.container{
    color: rgb(149, 35, 35);
    font-family: 'Creepster', cursive;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    font-size: 5em;
    text-shadow: 61px 14px 24px #000000;
}

.bouton{
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}

button{
    margin: auto;
    background:none;
    border:none;
}

a{
    text-decoration: none;
    color:rgb(149, 35, 35);
    font-family:'Creepster', cursive;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 14px 14px 14px #000000;
}

.imgcontainer{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    border-radius: 50%;
    overflow: hidden;
}

.imgcontainer2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.size{
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 39px 36px #000;
}